<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LearnPlus - Courses</title>
    <link rel="stylesheet" href="style.css">
     <title>Live Edge Logo</title>


</head>
<body>
    <header>
    <h1>LiveEdge</h1>
    <nav>
        <a href="index.html">Home</a>
        <a href="courses.html">Courses</a>
        <a href="materials.html">Study Materials</a>
        <a href="about.html">About</a>
        <a href="contact.html">Contact</a>
        <a href="login.html">Login</a>
        <a href="signup.html">Signup</a>
        
      
    </nav>
  </header>

  <section class="hero">
    <h2>Ready to start your learning journey?</h2>
    <p>Join thousands of students who have transformed their careers with our expert designed courses.</p>
  </section>
  <section class="hero">
    <h2>Explore Our Courses</h2>
    <p>Choose from live and recorded classes designed by experts.</p>
  </section>
  

  <section class="features">
    <div class="feature-box">
      <h3>Web Development</h3>
      <p>Learn HTML, CSS, JS and build modern websites.</p>
    </div>
    <div class="feature-box">
      <h3>Python Programming</h3>
      <p>Master Python with real-world projects and assignments.</p>
    </div>
    <div class="feature-box">
      <h3>Data Structures</h3>
      <p>Understand core concepts with C++ and problem solving.</p>
    </div>
  </section>

  <footer>
    <p>© 2025 LiveEdge | All Rights Reserved</p>
  </footer>
  



    
</body>
</html>