<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LearnPlus - Study Materials</title>
     <link rel="stylesheet" href="style.css">
</head>
<body>
    <header>
    <h1>LiveEdge</h1>
    <nav>
        <a href="index.html">Home</a>
        <a href="courses.html">Courses</a>
        <a href="materials.html">Study Materials</a>
        <a href="about.html">About</a>
        <a href="contact.html">Contact</a>
        <a href="login.html">Login</a>
        <a href="signup.html">Signup</a>
        
      
    </nav>
  </header>

  <section class="hero">
    <h2>Download Study Materials</h2>
    <p>Get notes, PDFs, and resources for every subject.</p>
  </section>
  
  <section class="features">
    <div class="feature-box">
      <h3>Web Dev Notes</h3>
      <p><a href="#" style="color:#0a73ff;">Download PDF</a></p>
    </div>
    <div class="feature-box">
      <h3>Python Notes</h3>
      <p><a href="#" style="color:#0a73ff;">Download PDF</a></p>
    </div>
    <div class="feature-box">
      <h3>DSA Notes</h3>
      <p><a href="#" style="color:#0a73ff;">Download PDF</a></p>
    </div>
  </section>

  <footer>
    <p>© 2025 LiveEdge | All Rights Reserved</p>
  </footer>


    
</body>
</html>